:root {
  --b-r: 1px solid red;
  --header-h: 3.5rem;
  --sidebar-color: #000814;
  --sales-card-color: #1167c4;
  --content-background-color: #e1ecf7;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: sans-serif;
}
.red {
  border: 1px solid red;
}
#wrapper {
  display: flex;
  width: 100%;
  min-height: 100%;
  align-items: stretch;
  position: relative;
  /* z-index: 87; */
  /* border: 1px solid red; */
}
.sidebar {
  background: var(--sidebar-color);
  /* direction: ltr; */
  display: block;
  transform-origin: left;
  width: 265px;
  /* max-width: 260px; */
  padding-top: 1rem;
  /* z-index: 999; */
  min-height: 100vh;
  margin-top:3.2rem;
  /* border: var(--b-r); */
  position: relative;
  color: white;
  /* transition: width 0.3s ease-in-out; */
  transition: all 0.5s ease;
}
.sidebar_toggle {
  width: 3rem;
  /* border: var(--b-r); */
  /* padding-right: 1.5rem; */
  margin-right: 1rem;
  display: flex;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  z-index: 9999;
  /* padding: 2px; */
  font-size: 30px;
  border: #fff;
  background: white;
}
.sidebar_item {
  /* position: sticky; */
  position: sticky;
  padding-left: 1rem;
  padding-right: 1rem;
  /* top: 0; */
  top: 4.2rem;
  width: 100%;
  min-height: fit-content;
  /* border: var(--b-r); */
  display: flex;
  opacity: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: opacity .1s ease .1s;
}
.sidebar_logo {
  width: 100%;
  text-align: center;
  border-radius: 5px;
  padding: 0.5rem;
  /* padding-top: 2; */
  font-size: 2rem;
  color: #1b53ec;
  font-style: italic;
  font-weight: bold;
  background: white;
  a {
    text-decoration: none;
    color: #1b53ec;
  }
}
.sidebar_link {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 1rem;
  /* padding-left: 1rem; */
  justify-content: start;
  gap: 1rem;
  /* border: var(--b-r); */
}
.item_link {
  width: 100%;
  display: flex;
  cursor: pointer;
  width: 100%;
  padding: 0.5rem;
  /* font-size: 10px; */
  border-radius: 5px;
  /* border: var(--b-r); */
  h1 {
    display: flex;
    gap: 1rem;
    justify-content: start;
    width: 100%;
    font-size: 1.4rem;
    /* border: var(--b-r); */
  }
  a {
    text-decoration: none;
    color: white;
  }
}
.item_link:hover {
  background: rgb(51, 51, 51);
}
main {
  width: 100%;
  min-height: 100vh;
  /* border: var(--b-r); */
  display: flex;
  z-index: 99;
  /* align-items: center; */
  /* justify-content: center; */
  flex-direction: column;
}
.content {
  width: 100%;
  /* width: calc(100% - 265px); */
  min-height: 100vh;
  /* border: var(--b-r); */
  /* border: 1px solid green; */
  padding-left: 5px;
  padding-right: 5px;
  /* border: var(--b-r); */
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 1rem; */
  background: var(--content-background-color);
}
.container-fluid {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 1rem;
  padding-top: 5rem;
  /* border: var(--b-r); */
}
.dashboard_content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.dashboard_sales_row {
  width:100%;
  min-height: 12rem;
  /* border: var(--b-r); */
  display: flex;
  /* padding-top: 5rem; */
  /* flex-wrap: wrap; */
  gap: 1rem;
  padding: 1rem;
}
.sales_card {
  width: 100%;
  border-radius: 10px;
  /* border: var(--b-r); */
  color: white;
  background-color: var(--sales-card-color);
  display: flex;
  padding-left: 1rem;
  align-items: start;
  justify-content: space-evenly;
  flex-direction: column;
}
.dashboard_chart_row {
  width: 100%;
  min-height: 30rem;
  /* height: 100%; */
  /* border: var(--b-r); */
  display: flex;
  padding: 0.5rem;
  gap: 1rem;
  /* align-items: center; */
  justify-content: center;
}
.graph_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.graph_chart {
  background: var(--sales-card-color);
  width: 100%;
  display: flex;
  /* border: var(--b-r); */
  align-items: center;
  justify-content: center;
  /* height: 100%; */
}
.chart_bar {
  width: 100%;
  /* height: 100%; */
  /* border: var(--b-r); */
  background-color: white;
  border-radius: 10px;
  padding: 0.5rem;
}
.chart_line {
  width: 50%;
  /* height: 100%; */
  padding: 0.5rem;
  /* border: var(--b-r); */
  background: white;
  border-radius: 10px;
}
.exp {
  width: 100%;
  height: 20rem;
  border: var(--b-r);
  display: grid;
  place-content: center;
  .box {
    width: 150px;
    height: 100px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    background: red;
  }
}
.navbar {
  position: fixed;
  top: 0;
  /* left: 0; */
  min-width: 100%;
  /* for fullwidth of navbar right:0 or  */
  right: 0;
  /* border: 1px solid black; */
  height: var(--header-h);
  /* border: var(--b-r); */
  padding-left: 1rem;
  background: #fff;
}
.navbar_content {
  width: 100%;
  height: 100%;
  display: flex;
  /* border: var(--b-r);  */
  align-items: center;
  justify-content: space-between;
  /* justify-content: center; */
}
.sidebar_toggle {
  cursor: pointer;
}
.logo-container {
  position: fixed;
  /* margin-left: 5rem; */
  /* margin-right: 592rem; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: var(--b-r);  */
  .logo {
    /* position: fixed; */
    /* top: 0;   */
    /* border: var(--b-r); */
    width: fit-content;
    font-size: xx-large;
    color: var(--sales-card-color);
  }
}
.user_account {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-right: 2rem; */
  right: 0;
  /* margin-right: 5rem; */
  background: white;
  width: fit-content;
  /* border: var(--b-r); */
}

a {
  text-decoration: none;
  color: rgb(240, 240, 240);
}
/* dropdown */
.dropdown {
  position: relative;
  display: inline-block;
  /* display: flex; */
  /* flex-direction: column; */
  width: fit-content;
}
.drop-btn {
  cursor: pointer;
  /* background-color: #04aa6d; */
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin-right: 1rem;
  font-size: 18px;
  border: none;
  width: fit-content;
}
.dropdown-content {
  display: none;
  /* margin-top: .5rem; */
  position: absolute;
  background-color: #f1f1f1;
  min-width: fit-content;
  height: fit-content;
  right: 15px;
  border-radius: 10px;
  /* bottom: 0; */
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  z-index: 9999;
  a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: 600;
    border-radius: 10px;
    /* border: var(--b-r); */
  }
  a:hover {
    background-color: rgb(228, 228, 228);
  }
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* Media Quaries */

@media (max-width: 480px) {
  .container {
    padding-top: 5rem;
  }
  .sidebar {
    z-index: 999;
    position: fixed;
  }
  .content {
    z-index: 1;
  }
  .dashboard_sales_row {
    flex-direction: column;
  }
  .sales_card {
    height: 10rem;
  }
  .dashboard_chart_row {
    flex-direction: column;
  }
  .chart_bar {
    min-height: 20rem;
  }
  .chart_line {
    width: 100%;
  }
  .navbar {
    z-index: 999;
  }

  .sidebar_toggle {
    z-index: 9999;
  }
  /* .navbar_content {
    flex-direction: row-reverse;
  } */
}
@media (max-width: 768px) {
  .dashboard_chart_row {
    flex-direction: column;
  }
  .chart_line {
    width: 100%;
  }
  .dashboard_sales_row {
    flex-direction: column;
  }
  .sales_card {
    height: 8rem;
  }
}
@media (max-width: 1024px) {
  .dashboard_chart_row {
    flex-direction: column;
  }
  .chart_line {
    width: 100%;
    /* height: 100%; */
  }
}
